[submodule "no-js"]
	path = css/no-js
	url = git@github.com:askirmas/no-js.git
	branch = master
[submodule "cypress-plugin-snapshots"]
	path = forks/cypress-plugin-snapshots
	url = git@github.com:askirmas/cypress-plugin-snapshots
[submodule "jest"]
	path = forks/jest
	url = git@github.com:askirmas/jest.git
